.h2-small_mobile{
    font-size: 5vw;
    background-color: var(--darkaccent-color);
    border-radius: 20px;
    padding: 5vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
}


.h2-small1_mobile{
    font-size: 3vw;
    color: var(--standard-color);
    background-color: var(--darkaccent-color);
    text-align: center;
    padding: 1vw;
}


.img-about_this_website_mobile{
    width: 100%;
    height: 50vw;
    object-position: 50% 30%;
    object-fit: cover;
}


.about_this_website_mobile {
    background-color: var(--accent-color);
}

.footer_mobile{
    font-size: 4vw;
    padding: 5vw;
    text-align: center;
}
